<html>
    <head>signup 6</head><br><br>
    <body>
        <form action="/signup6" method="post">
            {% csrf_token %}
            <input type="text" name="fullname" placeholder="enter ur fullname"><br><br>
            <input type="text" name="address" placeholder="enter ur address"><br><br>
            <input type="number" name="age" placeholder="enter ur age"><br><br>
            <input type="text" name="username" placeholder="enter username"><br><br>
            <input type="password" name="password" placeholder="enter password"><br><br>
            <input type="submit">

        </form>
    </body>
</html>